.upload-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-wrapper .file-upload-field {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #ffffff;
  overflow: hidden;
  background-size: 100% 200%;
  transition: all 1s;
  color: #ffffff;
  font-size: 100px;
}

.upload-wrapper .file-upload-field input[type="file"] {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

#myProfilePhotoUploadBtn {
  display: none;
}
.display-block {
  display: block;
}
.margin-top-80 {
  margin-top: -80px;
}

.gallery-link {
  color: black;
}

.gallery-link:hover {
  color: black;
  text-decoration: none;
}

.gallery-body {
  /* padding: 0.25rem; */
  padding: 0;
}

.gallery-body-title {
  margin-bottom: 0.1rem;
}

.gallery-body-detail {
  padding-left: 0.25rem;
}

.border-none {
  border: none;
}

.channel-detail {
  padding-left: 0.25rem;
  line-height: 1rem;
}
.channel-detail a {
  color: #606060;
}
.channel-detail a:hover {
  color: #606060;
  text-decoration: none;
}
